/*geral*/
* {
    margin:0;
    padding:0;
    font-family: helvetica;
    box-sizing: border-box;
}

h1 ,h2 , h3 {
    color: #333;
}

p {
    color:#d61fee;
}

/* carrosel*/

.carousel-container {
    position: relative;
    width: 100%;
    height: 400px; /* Altere o valor conforme necessário */
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;

}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover {
    color: #ccc;
    }
.default-btn {
    padding: 5px 10px;
    background-color: #2cc76a;
    border-radius: 5px;
}    

.default-btn:hover {
    background-color: rgb(0, 255, 255);
    color: #866d4d;
}


/*main banner */
.main-banner {
   /* background-image: url("/img/fundo03.png");*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 0rem 0;
    
}

.main-banner h1,
.main-banner p {
    color: #8a2297;
    text-align: center;
    font-weight:bold ;
   /* text-shadow: #000 3px 2px 3px;*/
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 35px;
}













/* Varios tamanhos*/

@media screen and (max-width: 500px ){  
    h1 { color: rgb(40, 185, 130);
    }  
}